
 .atricleItem {
  margin-bottom: 10px;
  padding: 10px 20px 15px 20px;
  border-radius: 2px;  
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

 .atricleItem .span{
  font-size: 15px;  
  color: #8590a6;
}

 .atricleItem .user{
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;  
}

 .atricleItem .user .left{
  display: flex;
  align-items: center;
}

 .atricleItem .user .headimg{
  width: 24px;
  height: 24px;
  border-radius: 10%;
}

 .atricleItem .user .name{
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;  
  color: #262626;
  text-decoration: none;
}

 .atricleItem .user .github{
  margin-left: 10px;
  font-size: 12px;  
  color: #8590a6;
}

 .atricleItem .user .time{
  text-align: left;
  color: #8590a6;
  font-size: 15px;
  width: 100px;
  text-align: right;
}

 .atricleItem .h1{
  font-size: 18px;
}

 .atricleItem >.content{
  display: flex;
  cursor: pointer;  
}

 .atricleItem .content .img{
  width: 190px;
  height: 105px;
  border-radius: 4px;    
  /* 图片剧中 */
  background-position: center;
  /* 大小 */
  background-size: cover;  
  /* 不重复 */
  background-repeat: no-repeat;  
  margin-right: 10px;  
}

 .atricleItem .content .info{
  flex: 1;
  font-size: 15px;
  line-height: 1.6em;  
  color: #262626;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

 .atricleItem .content .info:hover{
  color: #8590a6;
}

 .atricleItem .tool{
  margin-top: 10px;
  display: flex;
}

 .atricleItem .tool .right-button{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

 .atricleItem .tool .right-button .button .button-transform{
  transform: rotate(180deg);
}

 .atricleItem .button{
  min-width: 0;
  margin-right: 3px;
  line-height:1em;  
  min-height: 0;
  color: #8590a6;  
}

 .atricleItem .buttonBlue{
  background-color: #0f88eb !important;
  color: #ffffff;
}

 .atricleItem .button-border{
  background-color: rgba(0, 0, 0, 0.12);
}

.atricleItem .read{
  padding: 3px 2px;
}

@media (max-width: 1024px) {
  .atricleItem >.content{
    flex-wrap: wrap;
  }
  .atricleItem .content .img {
    width: 100%;
    height: 150px;
    margin: 1px;
  }
   .atricleItem .content .info{
    margin-top: 15px;
  }
  .atricleItem .read{
    margin-left: -10px;
  }
  .atricleItem .button{
    margin-right: 10px;
    padding: 8px 5px 8px 10px;    
  }
  .atricleItem .tool .reply-butoon{
    display: none;
  }
}