.login {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login .box{
    padding: 50px 0;
    max-height: 700px;
    max-width: 400px;
    width: 80%;
    display: flex;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    background: #fff;
    align-items: center;
    flex-direction: column;
}

.login .box h1 {
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.login .box .item {
    width: 80%;
    margin-top: 20px;
}

.login .box .item {
    width: 80%;
    margin-top: 20px;
}

.login .box .itemButton {
    display: flex;
    width: 80%;
    margin-top: 30px;
    justify-content: space-between;
}

.login .box .itemButton .button{
    padding: 0;
    width: 45%;
}

.login .box .itemButton .blue{
    color: #fff;
    background: #0f88eb;    
}

.login .box  .buttonGithub{
    margin-top: 30px;
    padding: 0;
    width: 80%;   
}

.login .box  .buttonGithub-blue{
    margin-top: 30px;
    padding: 0;
    width: 80%;
    color: #fff;
    background: #0f88eb;
}


.login .box  .findPsw{
    margin-top: 30px;
    padding: 0;
    width: 80%; 
}