.home{
  padding-top: 60px;
}

.home .left{
  display: inline-block;
  width: 70%;
}

.home .right{
  display: inline-block;  
  position: fixed;
  width: 300px;
}

.home .left .item {
  margin-bottom: 10px;
  padding: 10px 20px 15px 20px;
  border-radius: 2px;  
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.home .left .item .span{
  font-size: 15px;  
  color: #8590a6;
}

.home .left .item .user{
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;  
}

.home .left .item .user .left{
  display: flex;
  align-items: center;
}

.home .left .item .user .headimg{
  width: 24px;
  height: 24px;
  border-radius: 10%;
}

.home .left .item .user .name{
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;  
  color: #262626;
  text-decoration: none;
}

.home .left .item .user .github{
  margin-left: 10px;
  font-size: 12px;  
  color: #8590a6;
}

.home .left .item .user .time{
  text-align: left;
  color: #8590a6;
  font-size: 15px;
  width: 100px;
  text-align: right;
}

.home .left .item .h1{
  font-size: 18px;
}

.home .left .item >.content{
  display: flex;
  cursor: pointer;  
}

.home .left .item .content .img{
  width: 190px;
  height: 105px;
  border-radius: 4px;    
  /* 图片剧中 */
  background-position: center;
  /* 大小 */
  background-size: cover;  
  /* 不重复 */
  background-repeat: no-repeat;  
  margin-right: 10px;  
}

.home .left .item .content .info{
  flex: 1;
  font-size: 15px;
  line-height: 1.6em;  
  color: #262626;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.home .left .item .content .info:hover{
  color: #8590a6;
}

.home .left .item .tool{
  margin-top: 10px;
  display: flex;
}

.home .left .item .tool .right-button{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.home .left .item .tool .right-button .button .button-transform{
  transform: rotate(180deg);
}

.home .left .item .button{
  min-width: 0;
  margin-right: 3px;
  line-height:1em;  
  min-height: 0;
  color: #8590a6;  
}

.home .left .item .buttonBlue{
  background-color: #0f88eb;
  color: #ffffff;
}

.home .left .item .button-border{
  background-color: rgba(0, 0, 0, 0.12);
}

.home .read{
  padding: 3px 2px;
}

.home .left .item .messagesList{
  border: 1px solid #e7eaf2;
  border-radius: 4px;
  margin-top: 12px;

}

.home .left .item .messagesList .messagesCount {
  font-size: 15px;
  font-weight: 600;
  color: #1e1e1e;
  padding: 10px 15px;
  border-bottom: 1px solid #e7eaf2;
}

.home .left .item .messagesList .messages {
  font-size: 15px;
}

.home .left .item .messagesList .messages .head{
  display: flex;
  align-items: center;
  padding: 10px 15px 0 15px;
}

.home .left .item .messagesList .messages .head .headimg{
  width: 24px;
  height: 24px;
  border-radius: 10%;  
}

.home .left .item .messagesList .messages .head a{
  margin-left: 10px;
}

.home .left .item .messagesList .messages .head span{
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  margin-left: 10px;
  color: #8590a6;
  font-size: 15px;
}

.home .left .item .messagesList .messages .content{
  padding: 15px;  
  overflow: hidden;
}

.home .left .item .messagesList .messages .messagetool{
  padding-left: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e7eaf2;
}

.home .left .item .messagesList .messages .messagetool button{
  padding: 7px 8px;
}

.home .left .item .messagesList .messages .messagetool .buttonColor{
  background-color: #0f88eb;
  color: #ffffff;
}

.home .left .item .messagesList .messages .replyMessage{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home .left .item .messagesList .messages .replyMessage textarea{
  flex: 1;
  height: 35px;
  margin: 10px;;
  padding: 7px 7px 7px 7px;
  border: 1px solid #e7eaf1;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 15px;
}

.home .left .item .messagesList .messages .replyMessage button{
  margin: 10px 10px 10px 0;
  min-width: 0;
  height: 30px;
  background: #0f88eb;
  color: white;
}

.home .right .card {
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px;
  color: #8590a6;
  font-size: 14px;
  line-height: 25px;
}

.home .right  .footer{
  margin-left: 13px;
  margin-top: 5px;  
}

.home .right  .footer .footer-dot{
  font-size: 13px;
  line-height: 2;
    color: #8590a6;
}

.home .right  .footer .footer-dot:after {
  margin: 0 5px;
  content: "\B7";
}


.home .right .footer .footer-item{
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  color: #8590a6;
}


@media (max-width: 1024px) {
  .home{
    padding-top: 135px;
  }
  .home .left{
    width: 100%;
  }
  .home .right{
    display: none;
  }
  .home .left .item >.content{
    flex-wrap: wrap;
  }

  .home .left .item .content .img {
    width: 100%;
    height: 150px;
  }
  .home .left .item .content .info{
    margin-top: 15px;
  }
}