.home{
  padding-top: 60px;
}

.home .left{
  display: inline-block;
  width: 70%;
}

.home .right{
  display: inline-block;  
  position: fixed;
  width: 300px;
}

.home .right .card {
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background: #fff;
  padding: 10px;
  color: #8590a6;
  font-size: 14px;
  line-height: 25px;
}

.home .footer{
  margin-left: 13px;
  margin-top: 5px;  
}

.home .footer .footer-dot{
  font-size: 13px;
  line-height: 2;
    color: #8590a6;
}

.home .footer .footer-dot:after {
  margin: 0 5px;
  content: "\B7";
}

.home .footer .footer-item{
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  color: #8590a6;
}

.home .moblie {
  display: none;
}

@media (max-width: 1024px) {
  .home{
    padding-top: 135px;
  }
  .home .left{
    width: 100%;
  }
  .home .right{
    display: none;
  }

  .home .moblie {
    display: block;
  }
}